<%= link_to 'Back', root_path, style: 'display: block; margin: 20px auto; text-decoration: none; color: #333; border: 1px solid #333; padding: 10px;' %>
<h1 style="text-align: center; margin-bottom: 20px;">Transactions</h1>

<table style="width: 100%; border-collapse: collapse;">
  <thead>
    <tr style="background-color: #f0f0f0; text-align: left;">
      <th style="padding: 10px; border-bottom: 2px solid #ddd;">Type</th>
      <th style="padding: 10px; border-bottom: 2px solid #ddd;">Amount</th>
      <th style="padding: 10px; border-bottom: 2px solid #ddd;">Date</th>
      <th style="padding: 10px; border-bottom: 2px solid #ddd;">Recipient Account (if any)</th>
    </tr>
  </thead>

  <tbody>
    <% @transactions.each do |transaction| %>
      <tr>
        <td style="padding: 10px; border-bottom: 1px solid #ddd;"><%= transaction._type %></td>
        <td style="padding: 10px; border-bottom: 1px solid #ddd;"><%= transaction.amount %></td>
        <td style="padding: 10px; border-bottom: 1px solid #ddd;"><%= transaction.created_at.strftime("%B %d, %Y, %H:%M") %></td>
        <td style="padding: 10px; border-bottom: 1px solid #ddd;"><%= transaction.receiver_account_id %></td>
      </tr>
    <% end %>
  </tbody>
</table>
